* {
    box-sizing: border-box;
    color: peru;
}

h1 {
    font-size: 5rem;
}

.qPet {
    font-size: 1.5rem;
}

.buttons {
    background-color: wheat;
}


.hide {
    display: none;
}

#startPics {
    max-height: 400px;
    height: 100%;
    width: 50%;
    padding: 0.5rem;
}